$offwhite: #fff8c8;
$yellow: #eaa525;
$lightblue: #6bbebd;
$darkblue: #1b427e;
$red: #e43000a;

$biggestFontComp: 5rem;
$mediumFontComp: 3rem;
$smallestFontComp: 2rem;
$tableFontComp: 1.2rem;

$biggestFontMob: 2rem;
$mediumFontMob: 1.25rem;
$smallestFontMob: 1rem;

$font: 'Dosis', sans-serif;
$alt-font: 'Bubbler One', sans-serif;

$mainSectionPadding: 5vh 5vw 5vh 5vw;
$mobileSectionPadding: 2vh 5vw 2vh 5vw;

body {
	height: 100vh;
	background-image: url(assets/geoBackground.crdownload); 
	background-size: cover;
	margin: 0;
	font-family: $font;
}

.displayNone {
	display: none;
}

.nav {
	background-color: white;
	height: 20vh;
	min-height: 105px;
	width: 100vw;
	margin:0;
	border-bottom: 10px solid $lightblue;
	padding: 1vh 2vw 1vh 2vw;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}


.nav-name {
	font-size: $biggestFontComp;
	white-space: nowrap;
	margin-right: 5vw;
}

.nav-name:hover {
	text-decoration: underline;
	text-decoration-color: $yellow;
}

.nav-links {
	height: fit-content;
	width: 50vw;
	min-width: 185px;
	font-size: $mediumFontComp;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	a:hover {
		text-decoration: underline;
		text-decoration-color: $yellow;
	}
}


.main {
	border: 4px solid black;
	width: 80vw;
	height: fit-content;
	margin: 10vh 10vw 10vh 10vw;
	font-size: $smallestFontComp;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.85);
}

.main__Profile {
	padding: $mainSectionPadding;

	:first-child {
		color: $lightblue;
		font-size: $mediumFontComp;
		font-weight: bold;
		padding-right: 1vw;
	}
}

.main__Skills {
	padding: $mainSectionPadding;
	box-sizing: border-box;
}

.main__Skills__TableCont {
	max-width: 70vw;
	overflow-x: scroll;
}

.main__Skills__Table {
	font-size: $tableFontComp;
	border-collapse: collapse;
	box-sizing: border-box;
	background-color: white;
    width:100%;

	th {
		background-color: $yellow;
	}


	th, td {
		padding: 1vh 1vw 1vh 1vw;
		box-sizing: border-box;
		border: 1px solid #ddd;
	}
}

.main__Skills__CV {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	flex-wrap: wrap;
	height: 10vh;
	padding: 2vh 0 2vh 0;

	img {
		box-sizing: border-box;
		height: 15vh;
		margin-bottom: -5vh;
		margin-left: 1vw;
	}

	img:hover {
		background-color: rgba(234, 165, 37, 0.4);
	}
}

.main__Projects {
	padding: $mainSectionPadding;
}

.main__Contact {
	padding: $mainSectionPadding;
}



@media screen and (max-width: 900px) {
	.nav {
		height: 10vh;
		min-height: 55px;
	}

	.nav-name {
	font-size: $biggestFontMob;
	}

	.nav-links {
	font-size: $mediumFontMob;

		a:click {
		text-decoration: underline;
		text-decoration-color: $yellow;
		}
	}

	.main {
		font-size: $mediumFontMob;
		width: fit-content;
		margin: 5vh auto 5vh auto;
	}

	.main__Profile {
		width: 70vw;	
	}

	.main__Skills {
	padding: $mobileSectionPadding;
	width: 70vw;
	height: fit-content;
	overflow-y: none;
	box-sizing: border-box;
	}

	.main__Skills__Table {
	font-size: $smallestFontMob;
	}

	.main__Skills__CV {

		img {
			height: 10vh;
			margin-bottom: -4vh;
		}
	}
}

@media screen and (max-width: 410px) {

		.main {
			height: 80vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.main__Skills__CV {

			display: flex;
			height: 100%;
			justify-content: center;
			align-items: justify-content;
			padding-bottom: 0;

			p {
				margin-bottom: 0;
			}

			img {
				margin: 1vh 1vw 0 1vw;
			}
		}

	}

